<div>
  <main>
    <h1 class="mb-5"><div>{{name}}</div>
  <br>
  <div><small class="text-body-secondary"><i>{{description}}</i></small></div>
</h1>
   
   
    {{#with history}}
      <div class="mb-3">{{founder}} - {{year}}</div>
    {{/with}}
   
    {{>title data='Types' big=true}}
    
    {{#each types}}
      <div class="btn-group mb-5" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-secondary">{{this}}</button>
    </div>
    {{/each}}
    
    <hr>
    <div class="mb-3">{{>title data='Syntax' big=true}}</div>
   
    {{#with syntax}}
    <div class="btn-group mb-3" role="group" aria-label="Basic outlined example">
    {{>dropdown button-name='variables' data=variables }}
    {{>dropdown button-name='functions' data=functions }}
    {{>dropdown button-name='conditionals' data=conditionals }}
    {{>dropdown button-name='loops' data=loops }}
    {{>dropdown button-name='classes' data=classes }}
    </div>
    {{/with}}
    
    <hr>
    <section class="mb-5">
    <div>{{>title data='Features' big=true}}</div>
    {{#each features}}
    <ul class="mb-3 row">
      <li class="col-5">
        <div >{{this}}</div>
      </li>
      </ul>
    {{/each}}
    </section>
    
    <div>{{>title data='Libraries' big=true}}</div>
    {{#each libraries}}
    <span class="badge text-bg-secondary mb-3">{{this}}</span>
    {{/each}}
    
    <hr>
    <section class="mb-5">
    <div>{{>title data='Tools' big=true}}</div>
    {{#each tools}}
    <span class="badge text-bg-secondary">{{this}}</span>
    {{/each}}
    </section>
    <hr>
    <div>{{>title data='Community' big=true}}</div>
    
      <div class="btn-group" role="group" aria-label="Basic outlined example">
    {{#each community}}    
    <div class='dropdown'>
  <button
    type='button'
    class='btn btn-outline-secondary dropdown-toggle me-2'
    data-bs-toggle='dropdown'
    aria-expanded='false'
  >{{name}}</button>
  <ul class='dropdown-menu'>
    {{#with type}}
      <li><a
          class='dropdown-item'
          href='#'
        >{{this}}</a></li>
    {{/with}}
  </ul>
</div>
    {{/each}}
      </div>
    
    

  </main>
</div>