<main>
  <section class='row'>
      {{#with newsBlock}}
      <h2 class='text-center mb-1'>{{title}}</h2>
      {{#each cards}}
      <div class='col-3'>
        {{>shoppost}}
      </div>
      {{/each}}
      {{/with}}
  </section>
  <hr class='my-5' />
  {{#with goodsBlock}}
  <section class="row">
        <div class='col-12 nav nav-tabs mb-5'>
          {{#each tabs}}
          <div class='nav-item'>
            {{#if isActive}}
            <a href='#' class='nav-link active'>{{text}}</a>
            {{else if isDisabled}}
            <a href='#' class='nav-link disabled'>{{text}}
            </a>
            {{else}}
            <a href='#' class='nav-link'>{{text}}</a>
            {{/if}}
          </div>
          {{/each}}
        </div>
  </section>
  <section class="row">
      {{#each cards}}
      <div class='col-4 p-2'> 
       {{>shopcard}}
       </div>
      {{/each}}
  </section>
  {{/with}}
    <hr class='my-5' />
    <section>
      {{#with subscribe}}
      <div class="card text-bg-dark px-2 ">
        <div class="card-body row p-1">
          <div class="col-6">
            <h2>{{header}}</h2>
            <p class="m-0">{{description}}</p>
          </div>
          <div class="col-6 py-3 pe-2 1 text-end">
            {{#each buttons}}
            <a href={{link}} class="btn btn-primary btn-sm">{{text}}</a>
            {{/each}}
          </div>
        </div>
      </div>
      {{/with}}
    </section>
    <hr class='my-5' />
{{#with service}}
{{>shopaction}}
{{/with}}   
{{>shopfooter}}
  </div>
</main>