<main>
{{#with heading}}
  {{#with main}}
    <div class='card'>
    <div class='card-body'>
      <h1>{{title}}</h1>
      <p>{{text}}</p>
      {{#with button_text}}
      <div><button
          class='btn btn-primary'
        >{{solid}}</button></div>
      <br />
      <div><button class='btn btn-outline-primary'>{{outline}}</button></div>
    </div>
    </div>
      {{/with}}
  {{/with}}
  <br />
  {{#with second}}
  <div class='card'>
    <div class='card-body'>
      <h2>{{title}}</h2>
      <p>{{text}}</p>
      {{#with button_text}}
      <div><button class='btn btn-secondary'>{{solid}}</button></div>
      <br />
      <div><button class='btn btn-outline-secondary'>
        {{outline}}</button></div>
     {{/with}}   
    </div>
  </div>
  {{/with}}
  <br />
  {{#with subblock}}
  <div class='card'>
    <div class='card-body'>
      <h3>{{title}}</h3>
      <p>{{text}}</p>
      {{#with button_text}}
      <div><button class='btn btn-dark'>{{solid}}</button></div>
      <br />
      <div><button class='btn btn-outline-dark'>
          {{outline}}</button></div>
      {{/with}}    
    </div>
  </div>
  {{/with}}
{{/with}}
  <hr />
  <br />
{{#with nested_display}}  
  <div class='card'>
    <div class='card-body'>
      <div class='display-1'><b>{{title}}</b></div>
      <br />
      {{#with children_display}}
      <div class='card'>
        <div class='card-body'>
          <div class='display-4'><b>{{title}}</b></div>
          <p>{{text}}</p>
          {{#with button}}
          <div><button
              class='btn btn-outline-warning'
            >{{text}}</button></div>
          {{/with}}  
        </div>
       </div>
      {{/with}}
      <br />
      <br />
      
      <h6>{{header_text}}</h6>
      {{#with button}}
      <button class='btn btn-info'><span
          class='text-light'
        >Info</span></button>
      {{/with}}  
    </div>
  </div>
{{/with}}
  <br /><br />
  {{#with paragraph}}
  <p class='text-uppercase'>{{title}}</p>
  <p class='text-lowercase'>{{text}}</p>
  {{#with button}}
  <a href={{url}} class="btn btn-light"><span
              class='text-primary'
            ><b>{{text}}</b></span></button></a>
  {{/with}}  
  <br />
  <br>
  
  <div class='card'>
    <div class='card-body'>
      <ul>
        {{#each list_name}}
        <li>
          <a href={{url}} class="btn btn-light"><span
              class='text-primary'
            ><b>{{text}}</b></span></button></a>
        </li>
       {{/each}}
      </ul>
    </div>
  </div>
  {{/with}}
</main>