<div>
  <header>
  {{#with web}}
      <h1 class="mb-5">Web languages</h1>
  </header>
  <main> 
    {{#each languages}}
    <ul>
      <li>
        <div>{{>title data=name big=true}}</div>
        <div class="mb-4">Version: {{version}}</div>
        
        <div class="mb-4"><em>{{description}}</em></div>
        {{#each elements}}
        <ul>
          <li class="row">
            <div>{{>title data=name}}</div>
            <div class="mb-4"><em>{{description}}</em></div>
            {{#each attributes}}
            <dl class="col-5">
              <dt>{{name}}</dt>
              <dd>{{description}}</dd>
            </dl>
            {{/each}}
            <hr>
          </li>
        </ul>
        {{/each}}
        {{#each properties}}
        <ul>
          <li class="row">
            <div>{{>title data=name}}</div>
            <div><em>{{description}}</em></div>
            {{#each values}}
            <dl class="col-5">
              <dt>{{value}}</dt>
              <dd>{{description}}</dd>
            </dl>
            {{/each}}
             <hr>
          </li>
        </ul>
        {{/each}}
        {{#each functions}}
        <ul>
          <li>
            <div>{{>title data=name}}</div>
            <div><em>{{description}}</em></div>
            <br>
            {{#each parameters}}
            <ul>
              <li>
                <div>Parametr: <b>{{name}}</b>  | Type: <b>{{type}}</b></div>
                <br>
                <div><em>{{description}}</em></div>
                <br>
              </li>
            </ul>
            {{/each}}
             <hr>
          </li>
        </ul>
        {{/each}}
      </li>
    </ul>  
    {{/each}}
  {{/with}}
  </main>
</div>

