<div class="col-6 p-1">
        <div class="card mb-2 ">
          <img src={{img}} alt="#" class="img-card-top">
          <div class="card-body">
            <div class="mb-3">
              {{#if isHot}}
              <span class="badge text-bg-warning text-light rounded-pill text-uppercase">hot!</span>
            {{/if}}
            {{#if isNew}}
              <span class="badge text-bg-primary rounded-pill ">Нове</span>
            {{/if}}  
            </div>
            <div class="mb-2">
            {{#if isFast}}
              <div class="badge text-bg-success ">Швидка доставка</div>
            {{/if}} 
            </div>
             <div class="mb-2">
            {{#if isFast}}
              <div class="badge text-bg-secondary  ">Безкоштовна доставка</div>
            {{/if}}

            <h5 class="card-title mt-2">{{name}}</h5> 
            {{#with review}}
            <p>{{amount}} {{text}}</p>
            {{/with}}
            <h4>{{price}}</h4>
            <p>{{delivery}}</p>
            {{#each buttons}}
            <div>
              <a href={{link}} class="btn btn-sm mb-2
              {{#if isPrimary}}btn-primary{{/if}}
              {{#if isSecondary}}btn-secondary{{/if}}">{{text}}</a>
            </div>
            {{/each}}
            <ul class="mb-0">
            {{#each characteristics}}
            <li>{{title}}: {{value}}</li>
            {{/each}}
            </ul>
            </div>
          </div>
        </div>
      </div>